{{ $authorUrl := $.Site.Params.authorUrl }}
{{ $lastMod := $.Page.Lastmod.Format "January 2, 2006" }}
{{ $gitUrl := print $.Site.Params.gitContentUrl "/" (replace $.Path "\\" "/") }}

{{ $cosmoreZip := "" }}
{{ with resources.Get $.Site.Params.cosmoreDownloadUrl }}
    {{ with .Err }}
        {{ errorf "%s" . }}
    {{ else }}
        {{ $cosmoreZip = .RelPermalink }}
    {{ end }}
{{ end }}

{{ if $.Site.Params.enableNav }}
    <footer>
        <address>
            <p><strong>{{ $.Site.Title }}</strong> is a contrivance by <a href="{{ $authorUrl }}">Scott Smitelli</a>.</p>

            <p><a href="{{ $cosmoreZip }}">Download <strong>Cosmore</strong></a>, my reconstruction of the game's source code.</p>
        </address>

        <p>This page was last modified on {{ $lastMod }}. <a href="{{ $gitUrl }}">See it on GitHub.</a></p>

        <p><code>git clone {{ $.Site.Params.gitCloneUrl }}</code></p>

        <p><code>wget -mkp {{ absURL "/" }}</code></p>
    </footer>
{{ end }}
