{{/*
    Insert the data table for the DOS code page comparison.
*/}}

<table class="full-width">
    <tr><th>Byte</th><th>CP437</th><th>CP850</th><th>CP860</th><th>CP737</th><th>CP775</th><th>CP856</th><th>CP861</th><th>CP863</th><th>CP864</th><th>CP866</th></tr>
    <tr><th>...</th><td colspan="10">...</td></tr>
    <tr><th>80h</th><td>Ç</td><td>Ç</td><td>Ç</td><td>Α</td><td>Ć</td><td>א</td><td>Ç</td><td>Ç</td><td>°</td><td>А</td></tr>
    <tr><th>81h</th><td>ü</td><td>ü</td><td>ü</td><td>Β</td><td>ü</td><td>ב</td><td>ü</td><td>ü</td><td>·</td><td>Б</td></tr>
    <tr><th>82h</th><td>é</td><td>é</td><td>é</td><td>Γ</td><td>é</td><td>ג</td><td>é</td><td>é</td><td>∙</td><td>В</td></tr>
    <tr><th>83h</th><td>â</td><td>â</td><td>â</td><td>Δ</td><td>ā</td><td>ד</td><td>â</td><td>â</td><td>√</td><td>Г</td></tr>
    <tr><th>84h</th><td>ä</td><td>ä</td><td>ã</td><td>Ε</td><td>ä</td><td>ה</td><td>ä</td><td>Â</td><td>▒</td><td>Д</td></tr>
    <tr><th>85h</th><td>à</td><td>à</td><td>à</td><td>Ζ</td><td>ģ</td><td>ו</td><td>à</td><td>à</td><td>─</td><td>Е</td></tr>
    <tr><th>86h</th><td>å</td><td>å</td><td>Á</td><td>Η</td><td>å</td><td>ז</td><td>å</td><td>¶</td><td>│</td><td>Ж</td></tr>
    <tr><th>87h</th><td>ç</td><td>ç</td><td>ç</td><td>Θ</td><td>ć</td><td>ח</td><td>ç</td><td>ç</td><td>┼</td><td>З</td></tr>
    <tr><th>88h</th><td>ê</td><td>ê</td><td>ê</td><td>Ι</td><td>ł</td><td>ט</td><td>ê</td><td>ê</td><td>┤</td><td>И</td></tr>
    <tr><th>89h</th><td>ë</td><td>ë</td><td>Ê</td><td>Κ</td><td>ē</td><td>י</td><td>ë</td><td>ë</td><td>┬</td><td>Й</td></tr>
    <tr><th>8Ah</th><td>è</td><td>è</td><td>è</td><td>Λ</td><td>Ŗ</td><td>ך</td><td>è</td><td>è</td><td>├</td><td>К</td></tr>
    <tr><th>8Bh</th><td>ï</td><td>ï</td><td>Í</td><td>Μ</td><td>ŗ</td><td>כ</td><td>Ð</td><td>ï</td><td>┴</td><td>Л</td></tr>
    <tr><th>8Ch</th><td>î</td><td>î</td><td>Ô</td><td>Ν</td><td>ī</td><td>ל</td><td>ð</td><td>î</td><td>┐</td><td>М</td></tr>
    <tr><th>8Dh</th><td>ì</td><td>ì</td><td>ì</td><td>Ξ</td><td>Ź</td><td>ם</td><td>Þ</td><td>‗</td><td>┌</td><td>Н</td></tr>
    <tr><th>8Eh</th><td>Ä</td><td>Ä</td><td>Ã</td><td>Ο</td><td>Ä</td><td>מ</td><td>Ä</td><td>À</td><td>└</td><td>О</td></tr>
    <tr><th>8Fh</th><td>Å</td><td>Å</td><td>Â</td><td>Π</td><td>Å</td><td>ן</td><td>Å</td><td>§</td><td>┘</td><td>П</td></tr>
    <tr><th>90h</th><td>É</td><td>É</td><td>É</td><td>Ρ</td><td>É</td><td>נ</td><td>É</td><td>É</td><td>β</td><td>Р</td></tr>
    <tr><th>91h</th><td>æ</td><td>æ</td><td>À</td><td>Σ</td><td>æ</td><td>ס</td><td>æ</td><td>È</td><td>∞</td><td>С</td></tr>
    <tr><th>92h</th><td>Æ</td><td>Æ</td><td>È</td><td>Τ</td><td>Æ</td><td>ע</td><td>Æ</td><td>Ê</td><td>φ</td><td>Т</td></tr>
    <tr><th>93h</th><td>ô</td><td>ô</td><td>ô</td><td>Υ</td><td>ō</td><td>ף</td><td>ô</td><td>ô</td><td>±</td><td>У</td></tr>
    <tr><th>94h</th><td>ö</td><td>ö</td><td>õ</td><td>Φ</td><td>ö</td><td>פ</td><td>ö</td><td>Ë</td><td>½</td><td>Ф</td></tr>
    <tr><th>95h</th><td>ò</td><td>ò</td><td>ò</td><td>Χ</td><td>Ģ</td><td>ץ</td><td>þ</td><td>Ï</td><td>¼</td><td>Х</td></tr>
    <tr><th>96h</th><td>û</td><td>û</td><td>Ú</td><td>Ψ</td><td>¢</td><td>צ</td><td>û</td><td>û</td><td>≈</td><td>Ц</td></tr>
    <tr><th>97h</th><td>ù</td><td>ù</td><td>ù</td><td>Ω</td><td>Ś</td><td>ק</td><td>Ý</td><td>ù</td><td>«</td><td>Ч</td></tr>
    <tr><th>98h</th><td>ÿ</td><td>ÿ</td><td>Ì</td><td>α</td><td>ś</td><td>ר</td><td>ý</td><td>¤</td><td>»</td><td>Ш</td></tr>
    <tr><th>99h</th><td>Ö</td><td>Ö</td><td>Õ</td><td>β</td><td>Ö</td><td>ש</td><td>Ö</td><td>Ô</td><td>ﻷ</td><td>Щ</td></tr>
    <tr><th>9Ah</th><td>Ü</td><td>Ü</td><td>Ü</td><td>γ</td><td>Ü</td><td>ת</td><td>Ü</td><td>Ü</td><td>ﻸ</td><td>Ъ</td></tr>
    <tr><th>9Bh</th><td>¢</td><td>ø</td><td>¢</td><td>δ</td><td>ø</td><td>(none)</td><td>ø</td><td>¢</td><td>(none)</td><td>Ы</td></tr>
    <tr><th>9Ch</th><td>£</td><td>£</td><td>£</td><td>ε</td><td>£</td><td>£</td><td>£</td><td>£</td><td>(none)</td><td>Ь</td></tr>
    <tr><th>9Dh</th><td>¥</td><td>Ø</td><td>Ù</td><td>ζ</td><td>Ø</td><td>(none)</td><td>Ø</td><td>Ù</td><td>ﻻ</td><td>Э</td></tr>
    <tr><th>9Eh</th><td>₧</td><td>×</td><td>₧</td><td>η</td><td>×</td><td>×</td><td>₧</td><td>Û</td><td>ﻼ</td><td>Ю</td></tr>
    <tr><th>9Fh</th><td>ƒ</td><td>ƒ</td><td>Ó</td><td>θ</td><td>¤</td><td>(none)</td><td>ƒ</td><td>ƒ</td><td>(none)</td><td>Я</td></tr>
    <tr><th>...</th><td colspan="10">...</td></tr>
</table>
