{{/*
    Insert the data table for maps.
*/}}

<table>
    {{ range $index, $_ := $.Site.Data.map.table }}
        {{ if modBool $index $.Site.Params.dataTableHeaderFreq }}
            <tr>
                <th>Map</th>
                <th>Width&times;Height</th>
                <th>Backdrop /<br>Scrolling</th>
                <th>Palette Animation</th>
                <th>Rain</th>
                <th>Music</th>
                <th>Platforms</th>
                <th>Fountains</th>
                <th>Lights</th>
                <th>Actors</th>
            </tr>
        {{ end }}
        <tr>
            <th>{{ .map_name }}</th>
            <td>{{ .width_tiles }}&times;{{ .height_tiles }}</td>
            <td>
                {{ index $.Site.Data.description.backdrop_name (int .backdrop_id) }}&nbsp;({{ .backdrop_id }})<br>
                {{ if and .backdrop_hscroll_flag .backdrop_vscroll_flag}}
                    horizontal+vertical
                {{ else if .backdrop_hscroll_flag }}
                    horizontal
                {{ else if .backdrop_vscroll_flag }}
                    vertical
                {{ else }}
                    none
                {{ end }}
            </td>
            <td>
                {{ index $.Site.Data.description.palette_animation (int .palette_animation_id) | markdownify }}&nbsp;({{ .palette_animation_id }})</td>
            <td>{{ if .rain_flag }}yes{{ else }}no{{ end }}</td>
            <td>
                {{ (index $.Site.Data.music.table (int .music_id)).music_name }}&nbsp;({{ .music_id }})
            </td>
            <td>{{ .platform_count }}</td>
            <td>{{ .fountain_count }}</td>
            <td>{{ .light_count }}</td>
            <td>{{ .actor_count }}</td>
        </tr>
    {{ end }}
</table>
