<table style="text-align:center">
    <tr>
        <th>Channel</td>
        <td colspan="2">1</td>
        <td colspan="2">2</td>
        <td colspan="2">3</td>
        <td colspan="2">4</td>
        <td colspan="2">5</td>
        <td colspan="2">6</td>
        <td colspan="2">7</td>
        <td colspan="2">8</td>
        <td colspan="2">9</td>
    </tr>
        <tr>
        <th>Channel Register Offset</td>
        <td colspan="2">0h</td>
        <td colspan="2">1h</td>
        <td colspan="2">2h</td>
        <td colspan="2">3h</td>
        <td colspan="2">4h</td>
        <td colspan="2">5h</td>
        <td colspan="2">6h</td>
        <td colspan="2">7h</td>
        <td colspan="2">8h</td>
    </tr>
    <tr>
        <th>Operators (Modulator/Carrier)</th>
        <td>1</td>
        <td>4</td>
        <td>2</td>
        <td>5</td>
        <td>3</td>
        <td>6</td>
        <td>7</td>
        <td>10</td>
        <td>8</td>
        <td>11</td>
        <td>9</td>
        <td>12</td>
        <td>13</td>
        <td>16</td>
        <td>14</td>
        <td>17</td>
        <td>15</td>
        <td>18</td>
    </tr>
    <tr>
        <th>Operator Register Offset</th>
        <td>0h</td>
        <td>3h</td>
        <td>1h</td>
        <td>4h</td>
        <td>2h</td>
        <td>5h</td>
        <td>8h</td>
        <td>Bh</td>
        <td>9h</td>
        <td>Ch</td>
        <td>Ah</td>
        <td>Dh</td>
        <td>10h</td>
        <td>13h</td>
        <td>11h</td>
        <td>14h</td>
        <td>12h</td>
        <td>15h</td>
    </tr>
</table>
