{{/*
    Provide as much data as possible for the "Global Variables" and "Borland
    Library" pages from the cref data file. The result is a consistent H2
    element, syntax-highlighted C declaration, and description paragraph. Each
    entry is preceded by a horizontal rule to keep things from getting unruly.

    This is important to make sure that the heading ID (and anchor/fragment) get
    _exactly_ the name that the rest of the pages use to look up the symbol.

    Positional parameters:
        0 (required): C symbol name to look up for this invocation.
*/}}

{{ $symbol := .Get 0 }}
{{ $episodes := slice "E1" "E2" "E3" }}

<hr>

{{ with index site.Data.cref $symbol }}
    <h2 id="{{ $symbol }}"><code>{{ .text }}</code></h2>
    {{ highlight .def "c" }}
    <p>{{ .desc | markdownify }}</p>
    {{ if or (index site.Data.cref $symbol).symbol_address (index site.Data.cref $symbol).size}}
        <table>
            <tr>
                <th></th>
                {{ range $episodes }}
                    <th>Cosmore {{ . }}</th>
                {{ end }}
            </tr>
            <tr>
                <th>Symbol Address</th>
                {{ range $episodes }}
                    <td>
                        {{ with index (index site.Data.cref $symbol).symbol_address . }}
                            {{ . }}h
                        {{ else }}
                            &mdash;
                        {{ end }}
                    </td>
                {{ end }}
            </tr>
            <tr>
                <th>Size (Bytes)</th>
                {{ range $episodes }}
                    <td>
                        {{ with index (index site.Data.cref $symbol).size . }}
                            {{ . | lang.FormatNumber 0 }}
                        {{ else }}
                            &mdash;
                        {{ end }}
                    </td>
                {{ end }}
            </tr>
        </table>
    {{ end }}
{{ else }}
    {{ warnf "No definition for %s %v" .Name .Params }}
    <h2 id="{{ $symbol }}"><code>{{ $symbol }}</code></h2>
{{ end }}
