{{/*
    Takes one string argument, which is interpreted as a C symbol name. Returns
    a formatted link to the documentation page/section that defines the symbol.

    NOTE: The descriptions are run through the markdown renderer, mainly to get
    smart quotes. If any HTML markup is produced as a result of this
    transformation, such tags will become backticks (`).

    Inline function; whitespace is critically sensitive here!

    Positional parameters:
        0 (required): Name of a symbol defined in a some C file.

    Named usage:
        name (required): Name of a symbol defined in a some C file.
        text (optional): If set to a truthy value, overrides the displayed text
            returned within the link.
*/}}

{{- $symbol := "" }}
{{- $custom_text := "" }}

{{- if .IsNamedParams }}
    {{- $symbol = .Get "name" }}
    {{- $custom_text = .Get "text" }}
{{- else }}
    {{- $symbol = .Get 0 }}
{{- end }}

{{- with index site.Data.cref $symbol }}
    {{- $desc := .desc | markdownify | replaceRE `<.+?>` "`" | replaceRE "`{2,}" "`" }}

    {{- "" -}}
    <a href="{{ .ref }}" title="{{ .def | truncate 500 }}&#10;{{ $desc | safeHTML }}"><code>{{ $custom_text | default .text }}</code></a>
{{- else }}
    {{- warnf "No definition for %s %v" .Name .Params }}

    {{- "" -}}
    <code>{{ $custom_text | default $symbol }}</code>
{{- end }}
{{- "" -}}
