{{/*
    Takes one numeric argument, which is interpreted as a special actor type.
    Returns a formatted string containing the actor's name.

    Positional usage is for simple cases where the actor's name is inserted,
    unmodified, from the database content. Named usage is for cases where the
    context requires pluralization, stripping of parentheticals, or both.

    Inline function; whitespace is critically sensitive here!

    Positional usage:
        0 (required): Numeric special actor type.

    Named usage:
        type (required): Numeric special actor type.
        strip (optional): If set to a truthy value, strips any parenthetical
            details off the trailing end of the return value.
        plural (optional): If set to a truthy value, pluralize the return value.
*/}}

{{- $out := "" }}

{{- if .IsNamedParams }}
    {{- $out = index site.Data.description.special_actor (.Get "type") }}

    {{- if .Get "strip" }}
        {{- $out = $out | replaceRE `\s+\(.+?$` "" }}
    {{- end }}

    {{- if .Get "plural" }}
        {{- $out = $out | pluralize }}
    {{- end }}
{{- else }}
    {{- $out = index site.Data.description.special_actor (.Get 0) }}
{{- end }}

{{- if not $out }}
    {{- warnf "No definition for %s %v" .Name .Params }}
{{- end }}

{{- "" -}}
{{ $out }}
{{- "" -}}
