{{/*
    Takes one numeric argument, which is interpreted as a sprite type. Returns a
    formatted string containing the sprite's description.

    Positional usage is for simple cases where the sprite's name is inserted,
    unmodified, from the database content. Named usage is for cases where the
    context requires pluralization, stripping of parentheticals, or both.

    Inline function; whitespace is critically sensitive here!

    Positional usage:
        0 (required): Numeric sprite type.

    Named usage:
        type (required): Numeric sprite type.
        strip (optional): If set to a truthy value, strips any parenthetical
            details off the trailing end of the return value.
        plural (optional): If set to a truthy value, pluralize the return value.
*/}}

{{- $out := "" }}
{{- $type := -1 }}

{{- if .IsNamedParams }}
    {{- $type = .Get "type" }}
    {{- $out = index site.Data.description.actor_sprite $type }}

    {{- if .Get "strip" }}
        {{- $out = $out | replaceRE `\s+\(.+?$` "" }}
    {{- end }}

    {{- if .Get "plural" }}
        {{- $out = $out | pluralize }}
    {{- end }}
{{- else }}
    {{- $type = .Get 0 }}
    {{- $out = index site.Data.description.actor_sprite $type }}
{{- end }}

{{- if not $out }}
    {{- warnf "No definition for %s %v" .Name .Params }}
{{- end }}

{{- $out -}}
