{{ define "pageTitle" }}
    Page Not Found | {{ site.Title }}
{{ end }}

{{ define "pageContent" }}
    <article class="markdown">
        {{ with resources.Get "img/404.png" }}
            <p><img
                src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}"
                alt="COSMIC HINT! 404 Not Found..." title="COSMIC HINT! 404 Not Found..."
            ></p>
        {{ end }}

        <p class="centered"><a href="{{ site.Home.RelPermalink }}">Go Home</a></p>
    </article>
{{ end }}
